<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
       
        <title>Elad Tayar | Resume</title>

        <meta name="description" content="Elad Tayar is an student, in the second year, in Information Systems Management." />
        <link rel="canonical" href="https://www.eladtayarr.com/" />
        <meta property="og:locale" content="it_IT" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Elad Tayar - Information Systems Management student"/>
        <meta property="og:description" content="Elad Tayar is an student, in the second year, in Information Systems Management." />
        <meta property="og:url" content="https://www.eladtayarr.com/">
        <meta property="og:site_name" content="Elad Tayar" />
        <meta property="og:image:width" content="1440" />
        <meta property="og:image:height" content="767" />
        <meta property="og:image:type" content="image/jpeg" />

        <link rel="shortcut icon" href="/assets/img/logo.ico" type="image/x-icon" />

        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/assets/css/timeline.css" type="text/css" />

</head>

<body data-barba="wrapper">
  <!-- Loading open -->
  <div id="loading">
      <div>
        <div class="logo_loading">
          <div><img src="/assets/img/logo_white.svg" /></div>
        </div>
      </div>
  </div>
  <!-- Loading open -->

 <!-- Load page -->
 <div id="load_page">
  <div>
    <div class="logo_loading center">
      <img class="img-logo-white" src="/assets/img/logo_white.svg" />
    </div>

    <div id="logo_h">
      <img class="img-logo-white" src="/assets/img/logo_white.svg" />
    </div>

    <div id="title_page" class="center" data-splitting class="letter">
      <div id="home">HOME</div>
      <div id="mystory">ABOUT</div>
      <div id="type_p">RESUME</div>
      <!--<div id="portfolio">PORTFOLIO</div>-->
      <div id="adaptive">CONTACT</div>
  </div>
  </div>
</div>
    <main id="container">

        <aside id="nav_mobile">
            <div>
                <nav class="show_text">
                    <ul>
                        <li class="attivo" data-name-b="home">
                            <a href="index.html" class="letter" data-splitting> HOME </a>
                          </li>
            
                          <li data-name-b="mystory">
                            <a href="/assets/templates/about.html" class="letter" data-splitting> ABOUT </a>
                          </li>
            
                          <li data-name-b="type_p">
                            <a href="#type" class="letter" data-splitting> RESUME </a>
                          </li>
            
                          <!--<li data-name-b="portfolio">
                            <a href="/assets/templates/portfolio.html" class="letter" data-splitting> PORTFOLIO </a>
                          </li>-->
            
                          <li data-name-b="adaptive">
                            <a href="/assets/templates/contact.html" class="letter" data-splitting> CONTACT </a>
                        </li>
                    </ul>
                    </ul>
                </nav>

                <div id="mob_mail"><a href="mailto: eladt1010@gmail.com">eladt1010@gmail.com</a></div>
            </div>
        </aside>
        
        <!-- Mousepointer -->
        <div id="mousepointer">
            <div></div>
        </div>

        <!-- Top Header -->
        
        <header class="top_bar home">

            
            <div class="cont_center">

                <a href="/index.html" aria-label="Back to Home" id="logo">
                    <img class="img-logo-white" src="/assets/img/logo_white.svg" />
                  </a>

                <nav>
                    <ul>
                      <li data-name-b="home">
                        <a href="/index.html">
                          <div data-splitting>HOME</div>
                          <div data-splitting>HOME</div>
                        </a>
                      </li>
        
                      <li data-name-b="mystory">
                        <a href="/assets/templates/about.html">
                          <div data-splitting>ABOUT</div>
                          <div data-splitting>ABOUT</div>
                        </a>
                      </li>
        
                      <li class="attivo" data-name-b="type_p">
                        <a href="#type">
                          <div data-splitting>RESUME</div>
                          <div data-splitting>RESUME</div>
                        </a>
                      </li>
        
                      <!--<li data-name-b="portfolio">
                        <a href="/assets/templates/portfolio.html">
                          <div data-splitting>portfolio</div>
                        </a>
                      </li>-->
        
                      <li data-name-b="adaptive">
                        <a href="/assets/templates/contact.html">
                            <div data-splitting>CONTACT</div>
                            <div data-splitting>CONTACT</div>
                        </a>
                    </li>
                    </ul>
                  </nav>

                <a href="#" id="nav_bot_mob"><div><span>Menu</span><span>Close</span></div></a>
            </div>
           
        </header>
    
        <!-- Page -->
        <div id="page-wrap">

            <div id="page_cont" data-scroll-container>

                <div data-barba="container" data-barba-namespace="type_p"> 
                   
                    <section id="start" class="start_page cont_center">
                        
                        <div id="type_ap">
                            <div data-scroll data-scroll-sticky data-scroll-target="#type_ap">

                                <h1>
                                    <div data-splitting class="letter">Resume</div>
                                </h1>

                                <div id="heart_g">
                                    <picture data-scroll data-scroll-speed="2" data-scroll-position="top" data-scroll-target="#type_ap">
                                        <source srcset="/assets/img/goals/hearth_back.webp" type="image/webp"> 
                                        <source srcset="/assets/img/goals/hearth_back.png" type="image/png">
                                        <img fetchpriority="high" src="/assets/img/goals/hearth_back.webp" fetchpriority="auto" alt="Elad Tayar Information Systems Management Student">
                                    </picture>

                                    <picture data-scroll data-scroll-speed="3" data-scroll-target="#type_ap" data-scroll-position="top">
                                        <source srcset="/assets/img/goals/hearth.webp" type="image/webp"> 
                                        <source srcset="/assets/img/goals/hearth.png" type="image/png">
                                        <img fetchpriority="high" src="/assets/img/goals/hearth.webp" fetchpriority="auto" alt="Elad Tayar Information Systems Management Student">
                                    </picture>

                                    <picture data-scroll data-scroll-speed="2" data-scroll-position="top" data-scroll-target="#type_ap">
                                        <source srcset="/assets/img/goals/hearth_frontale.webp" type="image/webp"> 
                                        <source srcset="/assets/img/goals/hearth_frontale.png" type="image/png">
                                        <img fetchpriority="high" src="/assets/img/goals/hearth_frontale.webp" fetchpriority="auto" alt="Elad Tayar Information Systems Management Student">
                                    </picture>
                                </div>

                            </div>
                        </div>

                    </section>

                    <section id="talk" class="cont_center show_text">

                        <div data-scroll data-scroll-offset="30%">
                            <h2 data-splitting class="letter">My personal experience</h2>
                        </div>
                    </section>
                          
                    
                      
                    <section class="timeline">
                        <div>
                          <!--     ITEM 1  -->
                          <div class="timeline-item">
                            <div class="timeline-img"></div>
                            <div class="timeline-content js--fadeInLeft">
                              <div><h2 style="font-size: 30px;">
                                Information Systems Management Student
                              </h2></div>
                              <div>
                              <p class="date-student">
                                Today
                              </p>
                              <p class="factory-student">
                                The Collage of Management
                              </p>
                            </div>
                              <br><br>
                              <p style="font-size: 20px;">
                                This degree allows me to combine two worlds of specialized content, providing an excellent foundation for entering the job market. During the program, I acquired comprehensive knowledge in computer science and information systems, including data analysis, database management, and programming in Java and Python. I also gained expertise in systems analysis, cybersecurity, and Big Data analysis. Additionally, the curriculum provided me with a solid understanding of various management areas such as accounting, marketing, and finance.
                              </p>
                            </div>
                          </div> 
                      
                          
                          <!--     ITEM 2  -->
                           <div class="timeline-item">
                            <div class="timeline-img"></div>
                            <div class="timeline-content js--fadeInRight">
                              <div><h2 class="highlight-right" style="font-size: 30px;">
                                Honors Program
                              </h2></div>
                              <div>
                              <p class="date-right">
                                2024
                              </p>
                              <p class="factory-right">
                                Honors
                              </p>
                            </div>
                              <br><br>
                              <p style="font-size: 20px;">
                                <b>The College of Management in collaboration with the University of Bremen in Germany</b>
                                <br>
                                Participated in an advanced academic program focused on collaborative research and industry interaction. Gained skills in summarizing academic articles, conducting surveys, and presenting research findings. Key achievements include presenting research, developing a research poster and pitch, and attending guest lectures on job searching and startup management.                              </p>
                            </div>
                          </div>   
                      
                         <!--     ITEM 3  -->
                         <div class="timeline-item">
                            <div class="timeline-img"></div>
                            <div class="timeline-content js--fadeInLeft">
                              <div><h2 style="font-size: 30px;">Shift Administrator</h2></div>
                              <div>
                              <p class="date">
                                2022
                              </p>
                              <p class="factory">
                                Hugo Boss
                              </p>
                            </div>
                              <br><br>
                              
                                <ul style="font-size: 20px;">
                                  <li>
                                    <p>
                                      ●    Spearheaded the setup and launch of the store, overseeing all aspects from day one, including special customer relations, order processing, and inventory management.
                                    </p>
                                  </li>
                                  <li>
                                    <p>
                                      ●    Optimized staff scheduling and inventory management, demonstrating strong time management and operational efficiency.
                                    </p>
                                  </li>
                                  <li>
                                    <p>
                                      ●    Served as the primary contact for customer inquiries, ensuring swift resolutions and outstanding service experiences.
                                    </p>
                                  </li>
                                  <li>
                                    <p>
                                      ●    Collaborated with the management team to design and execute promotional events, significantly enhancing customer engagement.
                                    </p>
                                  </li>
                              </ul>
                              </p>
                            </div>
                          </div> 
                      
                          
                          <!--     ITEM 4  -->
                           <div class="timeline-item">
                            <div class="timeline-img"></div>
                            <div class="timeline-content js--fadeInRight">
                              <div><h2 class="highlight-right" style="font-size: 30px;">Information Systems NCO</h2></div>
                              <div>
                              <p class="date-right">
                                2025
                              </p>
                              <p class="factory-right">
                                IDF
                              </p>
                            </div>
                              <br>
                              <ul style="font-size: 20px;">
                                <li>
                                  <p>
                                    ●    Enhancing skills in sensitive information management and support strategy development.
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    ●    Interned to secure housing for lone soldiers,showcasing logistics and welfare management abilities.
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    ●    Mastered ERP SAP's tool for accurate transaction reporting, supporting data-driven decision-making.
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    ●    Elevated to a key role in Personnel Division for exceptional ERP system proficiency and data management skills.
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    ●    Conducted advanced data analysis for daily service condition reports, streamlining processes and improving conditions.
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    ●    Led military classification projects to enhance personnel data accuracy and operational efficiency.
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    ●    Delivered presentations to senior ranks, demonstrating strong communication and information synthesis skills.
                                  </p>
                                </li>
                            </ul>
                            </div>
                          </div>   
                        </div>
                        
                      </section>
                                            
                          

                    
                </div>

                <footer id="footer" class="show_text" >
                    <div class="cont_center_no4">
                        
            
                        <div id="contact_info" data-scroll data-scroll-offset="30%">
                            <div id="copy">
                                <p style="font-size: 20px; padding:20px;">© Elad Tayar <span id="year_f"></span></p>
                            </div>
                        </div>
                    </div>
            
                </footer>

                
            </div> 
        </div>
    </main>
    
   <script>
    $(function(){

        window.sr = ScrollReveal();
      
        if ($(window).width() < 768) {
      
            if ($('.timeline-content').hasClass('js--fadeInLeft')) {
                $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
            }
      
            sr.reveal('.js--fadeInRight', {
              origin: 'right',
              distance: '300px',
              easing: 'ease-in-out',
              duration: 800,
            });
      
        } else {
            
            sr.reveal('.js--fadeInLeft', {
              origin: 'left',
              distance: '300px',
                easing: 'ease-in-out',
              duration: 800,
            });
      
            sr.reveal('.js--fadeInRight', {
              origin: 'right',
              distance: '300px',
              easing: 'ease-in-out',
              duration: 800,
            });
      
        }
        
        sr.reveal('.js--fadeInLeft', {
              origin: 'left',
              distance: '300px',
                easing: 'ease-in-out',
              duration: 800,
            });
      
            sr.reveal('.js--fadeInRight', {
              origin: 'right',
              distance: '300px',
              easing: 'ease-in-out',
              duration: 800,
            });
      
      
      });
   </script>

    <script src="/assets/js/barba.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
    <link rel="stylesheet" href="/assets/js/splitting.css" />
    <link rel="stylesheet" href="/assets/js/splitting-cells.css" />
    <script src="/assets/js/splitting.min.js"></script>
    <script src="/assets/js/locomotive-scroll.min.js"></script>
    <script src="/assets/js/setup.js" type="text/javascript"></script>     
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="5aa14a5d-bc1b-4377-8116-b14da6ac143a" data-blockingmode="auto" type="text/javascript"></script>     
  
</body>
</html>